<%- include("includes/header.ejs") -%>

<%- include("includes/navbar.ejs") -%>

<main class="container">
   <div class="p-5 mt-5">
      <div class="d-flex justify-content-center align-items-center flex-column">
         <h1 class="text-center display-2 fw-bold">Explore our books collection</h1>
         <p class="text-center lead text-light fw-lighter px-1 bg-primary">What are you planning to read?</p>
      </div>
   </div>
   <hr>

   <div>
      <div class="row">
         <% books.forEach(book => { %>
         <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
               <img src="<%= book.imageUrl %>" class="card-img-top" alt="<%= book.name %>">
               <div class="card-body">
                  <h5 class="card-title"><%= book.name %></h5>
                  <h6 class="card-subtitle"><%= book.author %></h6>
                  <h6 class="card-subtitle"><%= book.category %></h6>
                  <p class="card-text"><%= book.description %></p>
                  <a href="/books/<%= book.id %>" class="btn btn-primary">Details</a>
                  <a href="#" class="btn btn-success">Add to Cart</a>
               </div>
            </div>
         </div>
         <% }) %>
      </div>
   </div>

</main>


<%- include("includes/footer.ejs") -%>